[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/fast_matrix_market"]
	path = lib/fast_matrix_market
	url = https://github.com/alugowski/fast_matrix_market.git
[submodule "lib/suitesparse"]
	path = lib/suitesparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
[submodule "lib/lapack"]
	path = lib/lapack
	url = https://github.com/Reference-LAPACK/lapack.git
